.root{
    -fx-background-color: #383838;
}
.label{
    -fx-text-fill: white;
}
.button{
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
.button-blue{
    -fx-background-color: #4CAF50;
    -fx-text-fill: #383838;
    -fx-background-radius: 25px;
    -fx-font-size: 24;
    -fx-font-family: 'serif';
}
.logout{
	-fx-background-color: #AB4642;
}
.logout:hover{
	-fx-background-color: #D6615C;
}
.button-blue:hover{
    -fx-background-color: #36cf3c;
    
}
#bold-label{
    -fx-font-weight: bold;
}
#incorrect{
    -fx-text-fill: red;
    
}
